vendor
node_modules
public/js
public/css

.idea
.vscode
workspace
tests

.rnd
.styleci.yml
.phpunit.result.cache
phpunit.xml

.git
.gitignore
.gitattributes

.env.example
*.md

.dockerignore
Dockerfile
Dockerfile_Nginx
docker-compose.yml
