vendor
node_modules
public/js
public/css
public/fonts

.idea
.vscode
workspace
tests

.rnd
.styleci.yml
.phpunit.result.cache
phpunit.xml

.gitignore
.gitattributes

encrypted.env
.env.example
*.md

.dockerignore
Dockerfile
