vendor
node_modules
public/js
public/css
public/fonts

.idea
.vscode
workspace

.rnd
.styleci.yml
.phpunit.result.cache
.phpunit.cache

.gitignore
.gitattributes

*.md
composer.lock
package-lock.json

.dockerignore
Dockerfile
