::placeholder {
    color: #777;
    opacity: 1;
}

body {
    background-color: rgb(12, 19, 28);
    overflow: hidden;
}

.parent_box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    padding: 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center
}

.box {
    box-shadow: 0px 0px 3px -0.5px black;
    border: 1px solid black;
    border-radius: 5px;

    width: 21em;
    max-height: 30em;

    padding: 2em;
    margin: 0.5em;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.input,
.button {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    background-color: rgb(12 19 28);
    box-shadow: 0px 0px 4px 0.5px black;
    height: 3em;
    padding-left: 1em;
    width: 80%;
    flex-shrink: 0;
    color: #bbbbbb;
    border: 0;
    border-radius: 0.5em;
}

.message,
.message_box {
    flex-shrink: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #bbbbbb;
    width: 80%;
}

*:focus-visible {
    outline: 0;
}

input:focus-visible {}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(25, 41, 61) rgb(12, 19, 28);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(12, 19, 28);
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px 0px black;
    background-color: rgb(25, 41, 61);
    border-radius: 5px;
    border: 1px solid rgb(12, 19, 28);
}
